.App {
  text-align: center;
}

.sidebar-style{
  width: 10vw;
  height: 100vh;
  background-color:rgb(22, 22, 90);
  color: white;
}
.header-style{
 height: 10vh;
 width: 90vw;
 
 background-color: azure;
 justify-content: space-between;
}
.main-body{
  height: 90vh;
 
}
.table-width{
  width: 90vw;
}
.icon-style{
  font-size: 25px;
}
.main-content{
  overflow: auto;
}

.font-width{
  font-size: 25px;
}

.align-style{
  justify-content: space-between;
}

.border-style{
  border: 4px solid lightcyan;
}

.hover-shadow:hover{
  border-bottom: 1px solid blue;
  color: blue;
}

.styles-hover{
  border-bottom: 1px solid blue;
}

